<template>
  <div class="content-application">
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <!-- COMPONENT HEADER -->
            <pl-header>
              <template v-slot:subtitle>Plasm for Boolean</template>
            </pl-header>
            <br />
            <!-- END COMPONENT HEADER -->

            <!-- COMPONENT REQUEST -->
            <pl-request url-request="/mock/request.json" v-on:onLoadedContent="worksIsLoaded">

              <!-- SLOT STATUS TRUE -->
              <template v-slot:enable-content>

                <!-- COMPONENT HEADER -->
                <pl-header>
                  <template v-slot:title>Plasm Works</template>
                  <template v-slot:subtitle>My works</small></template>
                </pl-header>
                <!-- END COMPONENT HEADER -->

                <div v-for="item in works">
                  <div class="pl-item">
                    <div class="pl-item__content">
                      <a target="_blank" class="pl-item__link" :href="item.link" :title="item.name">{{ item.name }}</a>
                    </div>
                  </div>
                </div>

              </template>

              <!-- SLOT STATUS FALSE -->
              <template v-slot:disabled-content>
                <p>Al momento non ci sono contenuti disponibili.</p>
              </template>

            </pl-request>
            <!-- END COMPONENT REQUEST -->

            <!-- ---------------------------------- -->
            <!-- HERE -->
            <!-- ---------------------------------- -->

          </div>
        </div>
    </div>
  </div>
</template>
<script>

/*

<!-- COMPONENT REQUEST -->
<pl-request url-request="/mock/request.json" v-on:onLoadedContent="codepensIsLoaded">

  <!-- SLOT STATUS TRUE -->
  <template v-slot:enable-content>

    <!-- COMPONENT HEADER -->
    <pl-header with-icon>
      <template v-slot:title>Plasm Codepens</template>
      <template v-slot:subtitle>My pens on Codepen</small></template>
    </pl-header>
    <!-- END COMPONENT HEADER -->

    <div v-for="item in codepens">
      <div class="pl-item">
        <div class="pl-item__content">
          <a target="_blank" class="pl-item__link" :href="item.link" :title="item.name">{{ item.name }}</a>
        </div>
      </div>
    </div>

  </template>

  <!-- SLOT STATUS FALSE -->
  <template v-slot:disabled-content>
    <p>Al momento non ci sono contenuti disponibili.</p>
  </template>

</pl-request>
<!-- END COMPONENT REQUEST -->
*/
import Request from './components/pl-request.vue'
import Header  from './components/pl-header.vue'
import Item  from './components/pl-item.vue'

export default {
  name: 'application',
  components: {
    'pl-request': Request,
    'pl-header': Header,
    'pl-item': Item
  },
  mounted: function(){
  },
  data: function(){
    return {
      data:{
        works: [],
        codepens: []
      }
    }
  },
  methods: {
    codepensIsLoaded(response){
      this.codepens = response.codepens;
    },
    worksIsLoaded(response){
      this.works = response.works;
    }
  }
}
</script>
