.pl-header
  margin: 20px auto
  &__icon
    position: absolute
    width: 60px

  &__icon-fa
    font-size: 50px
    color: $angry_color

  &__content
    padding: 0

    .pl-header--with-icon &
      padding: 0 0 0 60px

  &__title
    font-size: 48px
    margin: 0
    text-align: left
    line-height: 1
    font-weight: 600
    color: #212121

  &__subtitle
    font-size: 24px
    margin: 0 0 6px 0
    text-align: left
    line-height: 1
    font-weight: 200
    color: #999999
