.pl-item
  &__content
    position: relative
    padding: 2px 0px
    margin: 2px 0px
    border-bottom: 1px solid #EEEEEE

  &__selector
    display: block
    position: absolute
    width: 60px
    overflow: hidden
    right: 0
    top: 0
    font-size: 12px
    color: #CCCCCC
    height: 100%

    &-content
      +transition(all .3s $cubic_bezier)
      +border-radius(100%)
      position: relative
      display: block
      margin: 0 auto
      width: 20px
      height: 20px
      border: 2px solid #CCCCCC
      cursor: pointer
      background: #FFFFFF

      .pl-item--selected &
        border-color: $angry_color

      &:after
        +transition(all .3s $cubic_bezier)
        +scale(0)
        +border-radius(100%)
        content: ""
        display: block
        position: absolute
        left: 3px
        top: 3px
        width: 10px
        height: 10px
        background: $angry_color

        .pl-item--selected &
          +scale(1)

  &__link
    &:link,
    &:visited,
    &:active
      +transition(all .3s $cubic_bezier)
      display: inline-block
      width: calc(100% - 60px)
      position: relative
      color: $primary_color
      text-decoration: none

    &:hover
      color: $angry_color
      text-decoration: none
      padding-left: 30px

      &:after
        +scale(1)

    &:after
      +transition(all .3s $cubic_bezier)
      +scale(0)
      +border-radius(100%)
      content: ""
      display: block
      position: absolute
      left: 10px
      top: 6px
      width: 10px
      height: 10px
      background: $angry_color
