.pl-loader
  display: inline-block
  position: relative
  width: 64px
  height: 64px

.pl-loader div
  +border-radius(50%)
  box-sizing: border-box
  display: block
  position: absolute
  width: 51px
  height: 51px
  margin: 6px
  border: 6px solid $angry_color
  animation: pl-loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite
  border-color: $angry_color transparent transparent transparent

.pl-loader div:nth-child(1)
  animation-delay: -0.45s

.pl-loader div:nth-child(2)
  animation-delay: -0.3s

.pl-loader div:nth-child(3)
  animation-delay: -0.15s

@keyframes pl-loader
  0%
    +rotate(0deg)
  100%
    +rotate(360deg)



