<template>
    <div class="pl-header" :class="{'pl-header--with-icon': withIcon}">
      <div v-if="withIcon" class="pl-header__icon">
        <i class="fab fa-codepen pl-header__icon-fa""></i>
      </div>
      <div class="pl-header__content">
        <h1 class="pl-header__title">
          <slot name="title"></slot>
        </h1>
        <h2 class="pl-header__subtitle">
          <slot name="subtitle"></slot>
        </h2>
      </div>
    </div>
</template>

<script>
  export default {
    props: {
      withIcon:{
         type:[
            Boolean
         ],
         default: false
      }
    },
    mounted() {
    }
  }
</script>
