<!-- <pl-item :data="item" selectable></pl-item> -->
<template>
    <div class="pl-item" :class="{'pl-item--selected': active}">
      <div class="pl-item__content">
        <span v-if="selectable" class="pl-item__selector" v-on:click="active = !active">
          <span class="pl-item__selector-content"></span>
        </span>
        <a target="_blank" class="pl-item__link" :href="data.link" :title="data.name">{{ data.name }}</a>
      </div>
    </div>
</template>

<script>
  export default {
    props: {
      data:{
         type:[
            Object
         ],
         default: {}
      },
      selectable:{
         type:[
            Boolean
         ],
         default: false
      }
    },
    data: function(){
      return {
        active: false
      }
    },
    mounted() {
      if(this.data.selected) this.active = true;
    }
  }
</script>
