<template>
  <div class="example">
    <div v-if="loading">
      <span class="example__loader">
        <pl-loader></pl-loader>
      </span>
    </div>
    <div v-else>
      <slot v-if="status" name="enable-content"></slot>
      <slot v-else name="disabled-content"></slot>
    </div>
  </div>
</template>
<script>
    import Loader  from './pl-loader.vue'
    export default {
        props: {
          urlRequest:{
             type:[
                String
             ],
             default:"https://"
          }
        },

        components: {
          'pl-loader': Loader
        },

        data: function(){
          return {
            loading: false,
            status: false,
            timetosleep: 1000
          }
        },

        mounted: function(){
          this.request(
            this.urlRequest,
            {},
            function(response){
              if(response.status === true){
                this.status = true;
                this.$emit("onLoadedContent", response)
              }else{
                this.$emit("onLoadedContent", response)
              }
            }.bind(this)
          );
        },

        methods:{
          /*--------------------------------------
           *
           * Resolve Ajax Requests
           * @url: String
           * @params: Object {key->value}
           * @callback: Function
           * return void
           *
           **/
          request(url, params, callback){
            this.loading = true;
            let data = {
              method: "GET",
              dataType: 'json',
              url: url,
              data: params
            }

            $.ajax(data)
            .done(function( response ) {

              setTimeout(function(){
                this.loading = false;
                callback(response);
              }.bind(this), this.timetosleep)

            }.bind(this))
            .fail(function( response ) {
              this.loading = false;
              callback(response);
            }.bind(this));
          },
        }
    }
</script>
